main{
    margin:0 auto;
    width:1366px;
    height:768px;
}
.plastik{
    
    background-image: url("rect13412.svg");
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    opacity: 0.7;
    position: relative;
}
section{
    background-color: #a8cbfeff;
    height: 100%;
    text-align: center;
    position: relative;
}
h1{
    font-size: 72px;
    color: #0b5cd580;
    position: absolute;
    left:37%;
    z-index: 1;
}
header{
    background-image: linear-gradient(to right, #000000ff,#000000ff,#0000004d,#0000004d,#0000004d,#0000004d,#000000ff,#000000ff);
    mix-blend-mode: overlay;
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 1;
}

.content{
    background-color: #0b5cd580;
    border-radius: 26px;
    width:90%;
    height:500px;
    position:absolute;
    z-index: 1;
    top:30%;
    left:5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.button{
    position: absolute;
    background-color: #6aa1f780;
    width: 294.96px;
    height: 64.96px;
    border-radius: 26px;
    z-index: 1;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.button:hover{
    background-color: #6aa1f730;
}
.button-rounds{
    background-color: #0b5cd580;
    border-radius: 26px;
    width: 304.271px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glass-shadow{
    position: relative;
    background-color: #000000;
    width: 294.96px;
    height: 64.96px;
    border-radius: 26px;
    top:2.1px;
    left:2.2px;
    opacity: .5;
    mix-blend-mode: color-dodge;
}
.join{
    background-color: #15572480;
}

.text-rounds{
    background-color: #0b5cd580;
    border-radius: 26px;
    width: 435.271px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-input{
    position: absolute;
    background-color: #6aa1f780;
    width: 304.271px;
    height: 72.000px;
    border-radius: 26px;
    z-index: 1;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.text-input:focus{
    border: none;
}
#room-id{
    padding:0 20px;
    position: absolute;
    background-color: #6aa1f780;
    width: 422.96px;
    height: 64.960px;
    border-radius: 26px;
    z-index: 1;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border:none;
    box-sizing: border-box;
}
#room-id:focus{
    border: none;
    outline: none;
    
}
#room-id:hover{
    transition: .5s;
    background-color: #6aa1d150;
}
#room-id::placeholder{
    color:rgba(255, 255, 255, 0.405);
}
.shadow-width{
    width:422.96px;
}
.join-shadow{
    background-color: #228c3a80;
}
h2{
    margin:0;
}